*{
   margin: 0;
   padding: 0;
}
.sign_main{
   text-align: center;
   height: 320px;
   width: 370px;
   border: 3px solid black;
   border-radius: 10px;
   margin: auto;
   margin-top: 100px;
}
.name{
    padding-right: 4px;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
    

}
#first_name{
margin-top: 20px;
padding: 5PX;
height: auto;
border-radius: 4px;
border: 1px solid black;

}
.second_name{
padding-right: 4px;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
}
#second_name{

margin-top: 23px;
margin-bottom: 10px;
padding: 5PX;
height: auto;
border-radius: 4px;
border: 1px solid black;
}
.new_email{
padding-right: 33px;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
}
#email{

margin-top: 18px;
margin-bottom: 10px;
padding: 5PX;
height: auto;
border-radius: 4px;
border: 1px solid black;
}
.first_password{
padding-right: 4px;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
}
#new_password{

margin-top: 15px;
margin-bottom: 10px;
padding: 5PX;
height: auto;
border-radius: 4px;
border: 1px solid black;
  
}
.second_paasword{
    padding-right: 4px;
  font-size: px;
  font-weight: 700;
  text-transform: capitalize;
}
#confirm_password{

margin-top: 13px;
margin-bottom: 10px;
padding: 5PX;
height: auto;
border-radius: 4px;
border: 1px solid black;
}
.btn_sign{
   height: 30px;
   width: 130px;
   font-size: large;
   font-weight: 700;
   margin-top: 20px;
   

}